body{
    background-color: goldenrod;
}
.input{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: grey;
    
}
textarea{
    
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    background-color: grey;
    text-decoration: none;
}
.form{
    margin-left: 40%;
    margin-top: 10%;
    background-color: grey;
    height: 400px;
    width: 350px;
    text-align: center;
}
.btn{
    border-radius: 5%;
    margin-left: 2%;
    margin-top: 2%;
}
label{
    margin-top: 3%;
}